<p>Hi {{ .Name }},</p>

<p>You’ve signed up to join {{ .ChainName }} Loop!</p>

<p>The host of the Loop has been notified. Most hosts add new participants once every 2 to 4 weeks. They will reach out to you soon, with more information on how to proceed: where you will fit into the route & how to communicate with your fellow swappers.</p>

<p>Happy swapping!</p>