<p>הי{{ .Name }},</p>

<p>הקליקו<a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">כאן</a>בכדי להתחבר לחשבון ה Clothing Loop שלכם.<br>
הקישור הזה תקף פעם אחת בלבד.</p>

<p><code>{{ .Token}}</code></p>

<p>בברכה,</p>

<p>צוות The Clothing Loop!</p>