<p>הי{{ .Name }},</p>

<p>{{ .ParticipantName }}מעוניינים להצטרף ללולאת {{ .ChainName }}שלכם.</p>

<p>אנו מבקשים מכם ליצור עימם קשר. תוכלו למצוא את הפרטים שלהם תחת "חשבון" באתר <a href="https://www.clothingloop.org/admin/dashboard">שלנו</a>.</p>

<p>נישון, בשם צוות Clothing Loop </p>