<p>הי{{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that they want to join the {{ .ChainName }} Loop.</p>

<p>אנו מבקשים מכם ליצור עימם קשר. תוכלו למצוא את הפרטים שלהם תחת "חשבון" באתר <a href="https://www.clothingloop.org/admin/dashboard">שלנו</a>.</p>
