<p>הי{{ .Name }},</p>

<p>הקליקו<a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">כאן</a>בכדי לוודא את כתובת הדואר האלקטרוני שלכם ולהפעיל את חשבון ה Clothing Loop שלכם.<br>
הקישור הזה תקף פעם אחת בלבד.</p>

<p>בברכה,</p>

<p>צוות The Clothing Loop!</p>