<p>הי, {{ .Name }}</p>

<p>יש מתעניינים בהצטרפות ל{{ .ChainName }}!</p>

<p>אנא ראו מטה את פרטי הקשר של המשתתפים:</p>

<ul>
	<li>שם: {{ .Participant.Name }}</li>
	<li>כתובת דואר אלקטרוני: {{ .Participant.Email }}</li>
	<li>טלפון: {{ .Participant.Phone }}</li>
	<li>כתובת: {{ .Participant.Address }}</li>
</ul>

<p>בברכה, </p>

<p>נישון, בשם צוות Clothing Loop </p>