<p>הי{{ .Name }},</p>

<p>הידד! אתם כעת רשומים לניוזלטר שלנו.<br/>
צפו לעדכונים חודשים מלאי השראה, <br/>
עיקרי הדברים של ההחלפות וכל מיני דברים נפלאים הקשורים בסיפורי ה Clothing Loop.</p>

<p>מוזמנים ליצור איתנו קשר אם יש לכם חדשות מלהיבות או סיפורי Clothing Loop מעניינים שברצונכם לחלוק.<br/>
נשמח מאד לשמוע מכם! <a href="mailto:hello@clothingloop.org">hello@clothingloop.org</p>

<p>לשנות את עולם האופנה, החלפה אחת בכל פעם, בואו נעשה זאת יחד!</p>

<p>תודה מקרב לב על התעניינותכם ותמיכתכם.</p>
