<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} would like to join your {{ .ChainName }} Loop.</p>

<p>We would like you to ask to please contact them. You can find their info under "Account" on our <a href="https://www.clothingloop.org/admin/dashboard">website</a>.</p>
