<p>Hi {{ .Name }},</p>

<p>Du deltok i løkken {{ .ChainName }}.</p>

<p>Det ser ut som denne løkken ikke lenger var aktiv. Derfor har vi som Clothing Loop organisasjonen deaktivert denne løkken.</p>

<p>Hvis du vil fortsette med Clothing Loop, du kan enten prøve å bli med i en annen løkke i ditt område som deltaker via vår nettside, <a href="https://www.clothingloop.org/">www. lothingloop.org</a>. Hvis du er interessert, kan du starte Løkke {{ .ChainName }} som vert selv! Vi kan hjelpe deg å komme i gang som vert med et verktøykasse, en app og noen kampanjematerialer. If you’re interested in being a host, reply to this email, stating that you'd like to become a host of the Loop {{ .ChainName }}, and we will contact you with more information about how to proceed.</p>
