<p>Hi {{ .Name }},</p>

<p>Klikk på <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">her</a> for å bekrefte e-postadressen din og aktivere Clothing Loop-kontoen din. Denne linken er bare gyldig en gang.<br/>
Bare etter at e-postadressen din er verifisert, vil du ha en konto på <a href="https://www.clothingloop.org">www.clothingloop.org</a></p>

<p>PS: Hvis verifiseringslenken ikke virker, du kan alltid be om en ny ved å starte påloggingsprosessen på nytt på <a href="https://www.clothingloop.org">www. lothingloop.org</a>.</p>
