<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} er ikke lenger en del av din Loop {{ .ChainName }}. Deltakeren stoppet å være en del av din løkke.<br/>
Du finner ikke lenger informasjon om deltakeren din <a href="https://www.clothingloop.org/admin/dashboard">admin side</a>.</p>

<p>If you need to reach out one more time, you can contact {{ .ParticipantName }} at {{ .ParticipantEmail }}.</p>

<p>Dersom du har lagret {{ .ParticipantName }}sin informasjon et annet sted, vennligst slett deres informasjon. Tusen takk!</p>