<p>Hi {{ .Name }},</p>

<p>Du har registrert deg for å bli med i {{ .ChainName }} Loop!</p>

<p>Verten av løkka er varslet. De fleste verter legger til nye deltakere hver 2. til 4. uke. De tar snart opp til deg. med mer informasjon om hvordan du skal fortsette: hvor du vil passe inn i ruten & hvordan du skal kommunisere med dine medaljer.</p>

<p>God swapping!</p>