<p><i>Påminnelse!</i></p>

<p>Hi {{ .Name }},</p>

<p>Du er vert for {{ .ChainName }} Løkken. Men for øyeblikket virker det som sløyfen har vært inaktiv:<br/>
There are pending participants waiting to be approved for over five months, and you have not logged in on <a href="https://www.clothingloop.org/">www.clothingloop.org</a> in the last 5 months.</p>

<p>For å unngå skuffelse for potensielle deltagere vil vi fjerne inaktive løkker fra nettstedet vårt.<br/>
Vi gir deg hervia e-post hvis det ikke er noen handling på kontoen din i den kommende uken, vi sletter din løkke fra vårt <a href="https://www.clothingloop.org/loops/{{ .ChainUID }}/users/signup">nettsted</a>. Dette unngår du ved å logge inn på nettstedet vårt, og godkjenne eller nekte de nye deltakerne.</p>