.card {
  background-color: white;
}

.formRow {
  margin-bottom: var(--spacing);
}

.donationsWrapper {
  position: relative;
  margin: 100px 0;
  width: 40%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);

  .donationForm {
    width: 100%;

    .paymentSelectionOptions {
      margin-top: 2px;
      margin-bottom: 10px;

      .paymentToggle {
        position: relative;

        input[type="radio"] {
          opacity: 0;
          position: absolute;
          width: 100%;
        }

        label {
          color: #3b3b3b;
          display: inline-block;
          cursor: pointer;
          padding: 10px 0;
          border: solid 1px #518d7e;
          width: 100%;
          text-align: center;
          font-size: 11pt;
        }

        input[type="radio"]:focus + label {
          border: 1px solid var(--c-grey-d30);
        }

        input[type="radio"]:checked + label {
          color: white;
          background: #518d7e;
          border-color: #518d7e;
        }

        input[type="text"] {
          border: solid 1px var(--c-grey-d30--c-grey-d30);
          display: inline-block;
          width: 100%;
          height: 46px;
          padding: 0 10px;
          background-color: white;
          border-radius: 0;

          &::placeholder {
            color: #8a8a8a;
          }
        }
      }
    }

    .paymentOptions {
      justify-content: center;
      .paymentButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #518d7e;
        border: none;
        font-weight: bold;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        margin: 10px 0 10px 0;
        border-radius: 0;

        img {
          height: 30px;
        }

        img + div {
          margin-left: 10px;
        }
      }
    }

    .privacyPolicy {
      display: block;
      text-align: center;
    }
  }
}
.donationSmiley {
  font-size: var(--font-size-xl);
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  margin-top: var(--spacing-md);
  color: var(--c-grey-d30);
}

.paymentEmail {
  input[type="text"] {
    border: solid 1px #518d7e;
    display: inline-block;
    width: 100%;
    height: 46px;
    padding: 0 10px;
    background-color: white;
    border-radius: 0;
    font-family: Montserrat;

    &::placeholder {
      color: #8a8a8a;
    }
  }
}

.pageTitle {
  color: #48808b;
  font-size: 36px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 63.98px;
}

p {
  font-size: 1rem;
  line-height: 21px;
  text-align: left;
}

.donationConfirmationContent {
  padding: 50px 0;
  .confirmationMessage {
    padding: 0 50px;
  }
}
