.card {
  background-color: white;
}

.formRow {
  margin-bottom: var(--spacing);
}

.donationsWrapper {
  position: relative;
  margin: 50px 0;
  width: 40%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
}
.donationsWrapper .donationForm {
  width: 100%;
}
.donationsWrapper .donationForm .paymentSelectionOptions {
  margin-top: 40px;
  margin-bottom: 10px;
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle {
  position: relative;
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle input[type=radio] {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle label {
  color: #3b3b3b;
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
  border: solid 1px #518d7e;
  width: 100%;
  text-align: center;
  font-size: 11pt;
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle input[type=radio]:focus + label {
  border: 1px solid var(--c-grey-d30);
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle input[type=radio]:checked + label {
  color: white;
  background: #518d7e;
  border-color: #518d7e;
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle input[type=text] {
  border: solid 1px #518d7e;
  display: inline-block;
  width: 100%;
  height: max-content;
  padding: 11px;
  background-color: white;
  border-radius: 0;
  font-family: "Montserrat";
}
.donationsWrapper .donationForm .paymentSelectionOptions .paymentToggle input[type=text]::placeholder {
  color: #8a8a8a;
}
.donationsWrapper .donationForm .paymentOptions {
  justify-content: center;
}
.donationsWrapper .donationForm .paymentOptions .paymentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #518d7e;
  border: none;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 0;
}
.donationsWrapper .donationForm .paymentOptions .paymentButton img {
  height: 30px;
}
.donationsWrapper .donationForm .paymentOptions .paymentButton img + div {
  margin-left: 10px;
}
.donationsWrapper .donationForm .privacyPolicy {
  display: block;
  text-align: center;
}

.donationSmiley {
  font-size: var(--font-size-xl);
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  margin-top: var(--spacing-md);
  color: var(--c-grey-d30);
}

.paymentEmail input[type=text] {
  border: solid 1px #518d7e;
  display: inline-block;
  width: 100%;
  height: 46px;
  padding: 0 10px;
  background-color: white;
  border-radius: 0;
  font-family: Montserrat;
}
.paymentEmail input[type=text]::placeholder {
  color: #8a8a8a;
}

.pageTitle {
  color: #48808b;
  font-size: 36px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 63.98px;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 21px;
  text-align: left;
}

.donationConfirmationContent {
  padding: 50px 0;
}
.donationConfirmationContent .confirmationMessage {
  padding: 0 50px;
}

/*# sourceMappingURL=Donation.module.css.map */
