<p>Hi {{ .Name }},</p>

<p>Click <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">here</a> to login to your Clothing Loop account.<br>
This link is only valid once.</p>

<p><code>{{ .Token}}</code></p>

<p>Regards,</p>

<p>The Clothing Loop team!</p>