<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} is no longer part of your {{ .ChainName }} loop. They removed themselves from your Loop.<br/>
You will no longer find their information in your admin page on <a href="https://www.clothingloop.org/admin/dashboard">https://www.clothingloop.org/admin/dashboard</a> .</p>

<p>If you have saved {{ .ParticipantName }}’s information somewhere else, please delete their information.</p>
