<p>Hola {{ .Name }},</p>

<p>¡Un administrador ha aprobado tu solicitud para unirte al Loop {{ .ChainName }} !</p>

<p>Pronto se pondrán en contacto con más información sobre cómo continuar: dónde encaja en la ruta y cómo comunicarse con sus compañeros de cambio.</p>

<p>¡Feliz intercambio!</p>