<p>Hola {{ .Name }},</p>

<p>¡Gracias por tu mensaje!</p>

<p>Escribiste:<br/>
{{ .Message }}</p>

<p>Nos pondremos en contacto contigo con lo antes posible.</p>

<p>Saludos,</p>

<p>Nichon, en nombre del equipo de The Clothing Loop</p>