<p>Hola {{ .Name }},</p>

<p>You were a participant of the Loop {{ .ChainName }}.</p>

<p>It seems that this Loop was no longer active. Therefore, we as the Clothing Loop organization have deactivated this Loop.</p>

<p>If you want to continue with the Clothing Loop, you can either try to join another Loop in your area as a participant via our website, <a href="https://www.clothingloop.org/">www.clothingloop.org</a>. Or you can, if you are interested, restart Loop {{ .ChainName }} as a host yourself! We can help you get started as a host with a Toolkit, an App, and some promotional materials. If you’re interested in being a host, reply to this email, stating that you'd like to become a host of the Loop {{ .ChainName }}, and we will contact you with more information about how to proceed.</p>
