<p>Hola {{ .Name }},</p>

<p>Haga clic en <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">aquí</a> para verificar tu correo electrónico y activar tu cuenta de The Clothing Loop.<br>
Este enlace es válido solo una vez.</p>

<p><code>{{ .Token}}</code></p>

<p>Saludos,</p>

<p>¡El equipo de The Clothing Loop!</p>