<p>Hola {{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that they want to join the {{ .ChainName }} Loop.</p>

<p>Nos gustaría que te pongas en contacto con ellos. Puedes encontrar su información en "Cuenta" en nuestro <a href="https://www.clothingloop.org/admin/dashboard">sitio web</a>.</p>
