<p>Hola {{ .Name }},</p>

<p>A{{ .ParticipantName }} le gustaría unirse a tu Loop {{ .ChainName }} .</p>

<p>Nos gustaría que te pongas en contacto con ellos. Puedes encontrar su información en "Cuenta" en nuestro <a href="https://www.clothingloop.org/admin/dashboard">sitio web</a>.</p>
