<p>Hola {{ .Name }},</p>

<p>{{ .ParticipantName }} quiere recordarte que ella, él o ellos quieren unirse al loop {{ .ChainName }}.</p>

<p>Nos gustaría que te pongas en contacto con este participante. Puedes encontrar su información en "Cuenta" en nuestro <a href="https://www.clothingloop.org/admin/dashboard">sitio web</a>.</p>