<p>Hola {{ .Name }},</p>

<p>Click <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">here</a> to verify your email and activate your Clothing Loop account. This link is only valid once.<br/>
Only after your email address has been verified, you’ll have an account on <a href="https://www.clothingloop.org">www.clothingloop.org</a></p>

<p>PS: If the verify link does no longer work, you can always request a new one by starting the login process at again on <a href="https://www.clothingloop.org">www.clothingloop.org</a>.</p>
