<p>Hola {{ .Name }},</p>

<p>Haz clic <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">aquí</a> para verificar tu correo electrónico y activar tu cuenta de Clothing Loop. Este enlace es válido solo una vez.<br/>
Sólo después de verificar tu dirección de correo electrónico, tendrás una cuenta en <a href="https://www.clothingloop.org">www.clothingloop.org</a></p>

<p>PD: Si el enlace de verificación ya no funciona, siempre puedes solicitar uno nuevo iniciando el proceso de inicio de sesión de nuevo en <a href="https://www.clothingloop.org">www.clothingloop.org</a></p>
