<p>Hola {{ .Name }},</p>

<p>¡Alguien está interesado en unirse a {{ .ChainName }}!</p>

<p>Encuentre a continuación la información de contacto del participante:</p>

<ul>
	<li>Nombre: {{ .Participant.Name }}</li>
	<li>Email: {{ .Participant.Email }}</li>
	<li>Teléfono: {{ .Participant.Phone }}</li>
	<li>Dirección: {{ .Participant.Address }}</li>
	<li>Sizes: {{ .Participant.Sizes }}</li>
</ul>
