<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} ya no forma parte de tu Bucle {{ .ChainName }}. El participante dejó de ser parte de tu bucle.<br/>
Ya no encontrarás la información del participante en tu <a href="https://www.clothingloop.org/admin/dashboard">página de administración</a>.</p>

<p>If you have saved {{ .ParticipantName }}’s information somewhere else, please delete their information. Gracias!</p>