<p>Hola {{ .Name }},</p>

<p>A{{ .ParticipantName }} le gustaría unirse a tu Loop {{ .ChainName }} .</p>

<p>The participant has been waiting to join your Loop for more than 30 days, and would like to be accepted and receive further information on how to participate.</p>

<p>Nos gustaría que te pongas en contacto con este participante. Puedes encontrar la información relevante en "Cuenta" en nuestro <a href="https://www.clothingloop.org/admin/dashboard">sitio web</a>.</p>

<p>If you are too busy or the Loop is full, please Deny the participant’s request, and please update the Loops description with its current status (for instance whether the Loop has a temporary stop and will be open again in the near future).</p> 