<p>Hola {{ .Name }},</p>

<p>You’ve signed up to join {{ .ChainName }} Loop!</p>

<p>Se ha notificado al anfitrión del bucle. La mayoría de los anfitriones añaden nuevos participantes una vez cada 2 a 4 semanas. Pronto se pondrán en contacto con más información sobre cómo continuar: dónde encaja en la ruta y cómo comunicarse con sus compañeros de cambio.</p>

<p>¡Feliz intercambio!</p>