<p><i>Recordatorio!</i></p>

<p>Hola {{ .Name }},</p>

<p>You’re the host of the {{ .ChainName }} Loop. Sin embargo, por el momento parece que tu Bucle está inactivo:<br/>
Hay participantes pendientes esperando para ser aprobados por hasta cinco meses, y no has iniciado sesión en <a href="https://www.clothingloop.org/">www.

<p>To avoid disappointment for prospective participants we want to remove inactive Loops from our website.<br/>
Por la presente, te enviamos un correo electrónico para informarte de que si no hay acción en tu cuenta en el próximo mes, borraremos tu bucle de nuestro <a href="https://www.clothingloop.org/loops/{{ .ChainUID }}/users/signup">sitio web</a>. Puedes evitar esto iniciando sesión en nuestro sitio web y Aprobar o Denegar a los nuevos participantes.</p>