<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>The Clothing Loop | Maintance</title>
    <link href="/style.min.css" rel="stylesheet" />

    <script>
      setTimeout(() => {
        window.location.reload();
      }, 3e5); // every 5 minutes
    </script>
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="flex-grow flex flex-col">
      <header
        class="container mx-auto flex flex-row items-center justify-start px-4"
      >
        <a href="/">
          <img src="/logo.webp" alt="Logo" class="w-24" />
        </a>
      </header>
      <main class="flex-grow flex justify-center items-center">
        <div class="w-[600px] mx-auto px-4 py-8 text-center">
          <h1 class="text-4xl text-turquoise pb-4">UNDER CONSTRUCTION.</h1>

          <p class="pb-4">
            Welcome to the Clothing Loop! Unfortunately, you caught us at a bad
            time, we are temporarily offline to make this website function even
            better.
          </p>

          <p>We warmly welcome you back tomorrow!</p>
        </div>
      </main>
    </div>

    <footer class="bg-turquoise text-white">
      <div
        class="container px-4 h-14 mx-auto flex justify-between items-center"
      >
        <span class="text-sm text-grey-light"
          >This page refreshes automatically</span
        >
        <span
          ><span class="font-bold">The Clothing Loop</span> &copy; 2022</span
        >
      </div>
    </footer>
  </body>
</html>
