<p>Hi, {{ .Name }}</p>

<p>Someone is interested in joining your loop!</p>

<p>Please find below the participant's contact information:</p>

<ul>
	<li>Name: {{ .Participant.Name }}</li>
	<li>Email: {{ .Participant.Email }}</li>
	<li>Phone: {{ .Participant.Phone }}</li>
	<li>Address: {{ .Participant.Address }}</li>
</ul>
