<p>Hi {{ .Name }},</p>

<p>You were part of the {{ .ChainName }} Loop. We wanted to inform you this Loop has been deleted.</p>

<p>If you wish to participate in the Clothing Loop, please find another Loop in your area on our website <a href="https://www.clothingloop.org/">www.clothingloop.org</a>.<br/>
Since you already have a user profile, you can login with one click, and start a new Loop easily after logging in.</p>
