<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} は、ループ {{ .ChainName }} の一部ではなくなりました。 The participant stopped being part of your Loop.<br/> The participant stopped being part of your Loop.<br/>
You will no longer find the participant's information in your <a href="https://www.clothingloop.org/admin/dashboard">admin page</a>.</p>

<p>もう一度連絡が必要な場合は、 {{ .ParticipantName }} で {{ .ParticipantEmail }}までお問い合わせください。</p>

<p>If you have saved {{ .ParticipantName }}’s information somewhere else, please delete their information. Thank you!</p>