<p>Hoi {{ .Name }},</p>

<p>Een host heeft uw verzoek om lid te worden van de Loop {{ .ChainName }} goedgekeurd</p>

<p>Soon they will reach out with more information on how to proceed: where you will fit into the route & how to communicate with your fellow swappers.</p>

<p>Happy swapping!</p>