<p>Hoi {{ .Name }},</p>

<p>Een host heeft uw verzoek om lid te worden van de Loop {{ .ChainName }} goedgekeurd</p>

<p>Binnenkort zal de host je meer informatie toesturen over hoe het werkt, bijvoorbeeld op welke plek in de route je staat en hoe je kunt communiceren met de andere leden in de Loop.</p>

<p>Veel plezier met ruilen!</p>