<p>Hoi {{ .Name }},</p>

<p>Je was een deelnemer aan de Loop {{ .ChainName }}.</p>

<p>Het lijkt erop dat deze Loop niet langer actief is. Daarom hebben wij vanuit de Clothing Loop-organisatie deze Loop gedeactiveerd.</p>

<p>Als je door wilt gaan met de Clothing Loop, ga dan naar onze website, <a href="https://www.clothingloop.org/">www.clothingloop.org</a>, en probeer een andere geschikte Loop te vinden om aan deel te nemen. Of je kunt, als je geïnteresseerd bent, Loop {{ .ChainName }} heractiveren door zelf host te worden! We kunnen je als beginnende host helpen met een Toolkit, een app en wat promotiemateriaal. Als je geïnteresseerd bent om host te worden, beantwoord dan deze e-mail met de mededeling dat je graag host van Loop {{ .ChainName }} wilt worden, en we nemen contact met je op met meer informatie.</p>
