<p>Hoi {{ .Name }},</p>

<p>Je bent lid van Loop {{ .ChainName }}. Op dit moment lijkt het er echter op dat de Loop al een tijdje niet actief is.
Aangezien er mensen op de wachtlijst staan, zijn we op zoek naar iemand die de nieuwe host voor deze Loop wil zijn! Hosts richten de route in en wijzen nieuwe deelnemers de weg. We hebben een eenvoudige <a href="{{ .ToolkitLink }}">handleiding</a> geschreven om nieuwe hosts op weg te helpen!</p>

<p>Als je deze Loop wilt heractiveren, stuur deze e-mail dan door naar hello@clothingloop.org.<br/>
Als we van niemand terughoren zullen we deze Loop volgende maand van onze website verwijderen, om teleurstellingen bij potentiële nieuwe deelnemers te voorkomen.</p>
