<p>Hoi {{ .Name }},</p>

{{ if .IsApp }}
<p>App-wachtwoord: <code>{{ .Token}}</code></p>
{{ else}}
<p>Klik <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">hier</a> om in te loggen op je Clothing Loop account.<br>
Deze link is slechts één keer geldig.</p>
{{ end }}
