<p>Hoi {{ .Name }},</p>

<p>Klik <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">hier</a> om in te loggen op je Clothing Loop account.<br>
Deze link is slechts één keer geldig.</p>

<p>Met vriendelijke groeten,</p>

<p>Het Clothing Loop team!</p>