<p>Hoi {{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that they want to join the {{ .ChainName }} Loop.</p>

<p>We willen je vragen om contact met hen op te nemen. Je vindt hun info onder "Account" op onze <a href="https://www.clothingloop.org/admin/dashboard">website</a>.</p>
