<p>Hoi {{ .Name }},</p>

<p>{{ .ParticipantName }} wil je eraan herinneren graag toe te treden tot je Loop {{ .ChainName }}.</p>

<p>We willen je vragen om contact met deze deelnemer op te nemen. Je vindt hun aanvraag onder 'Account' op onze <a href="https://www.clothingloop.org/admin/dashboard">website</a>.</p>