<p>Hoi {{ .Name }},</p>

<p>Klik <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">hier</a> om je e-mail te verifiëren en je Clothing Loop-account te activeren. Deze link is slechts één keer geldig.<br/>
Pas als je e-mailadres is geverifieerd, is je account actief op <a href="https://www.clothingloop.org">www.clothingloop.org</a></p>

<p>PS: Als de verificatielink niet meer werkt, kun je altijd een nieuwe link aanvragen door het inlogproces opnieuw te doen op <a href="https://www.clothingloop.org">www.clothingloop.org</a>.</p>
