<p>Hoi {{ .Name }},</p>

<p>Klik <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">hier</a> om je e-mail te verifiëren en je Clothing Loop account te activeren.<br>
Deze link is slechts één keer geldig.</p>

<p>Met vriendelijke groeten,</p>

<p>Het Clothing Loop team!</p>