<p>Hoi {{ .Name }},</p>

<p>{{ .ParticipantName }} wilt graag meedoen met Loop {{ .ChainName }}.</p>

<p>De deelnemer wacht al meer dan 30 dagen op je Loop en wilt graag worden goedgekeurd en meer informatie ontvangen over hoe deel te nemen.</p>

<p>We willen je vragen om contact met deze deelnemer op te nemen. Je vindt de info onder 'Account' op onze <a href="https://www.clothingloop.org/admin/dashboard">website</a>.</p>

<p>Pas in dat geval de omschrijving van de Loop aan met de huidige status (bijvoorbeeld dat de Loop een tijdelijke stop heeft en in de nabije toekomst weer zal openen).</p> 