<p>Hoi {{ .Name }},</p>

<p>{{ .ParticipantName }} {{with .ParticipantEmail}}{{.}} {{end}} maakt niet langer deel uit van je Loop {{ .ChainName }}. De deelnemer is geen lid meer van je Loop.<br/>
Je vindt de informatie over de deelnemer niet meer in je <a href="https://www.clothingloop.org/admin/dashboard">Account-pagina</a>.</p>

<p>Als je de informatie van {{ .ParticipantName }} ergens anders hebt opgeslagen, verwijder dan alsjeblieft alle informatie over deze persoon. Dank je wel!</p>