<p>Hoi {{ .Name }}</p>

<p>Hoera! Je bent nu geabonneerd op onze nieuwsbrief.<br/>
Verwacht maandelijkse updates vol inspiratie, ruilverhalen, en Clothing Loop-gerelateerde info.<br/>
Heb je zelf een leuk verhaal om te delen? Horen we graag: <a href="mailto:hello@clothingloop.org">hello@clothingloop.org</a><br/>
Samen maken we de modewereld duurzamer, 1 ruiltas tegelijk!</p>

<p>Bedankt voor je interesse,</p>

<p>Nichon Glerum, namens het Clothing Loop-team</p>