<p>Hoi {{ .Name }},</p>

<p>Je hebt je aangemeld voor Loop {{ .ChainName }}!</p>

<p>De host van de Loop is op de hoogte gesteld. De meeste hosts voegen eens in de 2 tot 4 weken nieuwe deelnemers toe.<br/>
Binnenkort zal de host je meer informatie toesturen over hoe het werkt, bijvoorbeeld op welke plek in de route je staat en hoe je kunt communiceren met de andere leden in de Loop.</p>

<p>Veel plezier met ruilen!</p>