<p>Hi {{ .Name }},</p>

<p>Je bent de host van Loop {{ .ChainName }}. Op dit moment lijkt het er echter op dat je Loop niet actief is:<br/>
Er zijn deelnemers die al tot vijf maanden wachten om goedgekeurd te worden, en je hebt in de afgelopen vijf maanden niet ingelogd op <a href="https://www.clothingloop.org/">www.clothingloop.org</a>.</p>

<p>Om teleurstelling bij potentiële deelnemers te voorkomen, willen we inactieve Loops van onze website verwijderen.<br/>
Wij sturen je deze e-mail om je te laten weten dat als er in de komende maand geen activiteit is op je Account-pagina we je Loop zullen verwijderen van onze <a href="https://www.clothingloop.org/loops/{{ .ChainUID }}/users/signup">website</a>. Je kunt dit voorkomen door in te loggen op onze website en de nieuwe deelnemers goed te keuren of te weigeren.</p>