<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} would like to join your Loop {{ .ChainName }}.</p>

<p>The participant has been waiting to join your Loop for more than 30 days, and would like to be accepted and receive further information on how to participate.</p>

<p>We kindly ask you to please contact the participant. You can find the relevant info under "Account" on our <a href="https://www.clothingloop.org/admin/dashboard">website</a>.</p>

<p>If you are too busy or the Loop is full, please Deny the participant’s request, and please update the Loops description with its current status (for instance whether the Loop has a temporary stop and will be open again in the near future).</p> 