root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.go]
indent_style = tab
indent_size = 2

[Makefile]
indent_style = tab

[*.{plantuml,puml}]
indent_style = space
indent_size = 2