/docker/database
/server
/cmd/server-fcgi/static/app.fcgi
/sql/.dbeaver

/config.*.yml
!/config.example.yml

# firebase migration
/auth_data.json
/backup.json
/credentials.json
# spreadsheet migration
/migration.xlsx
*.log
