<p>Hi {{ .Name }},</p>

<p>You were a participant of the Loop {{ .ChainName }}.</p>

<p>It seems that this Loop was no longer active. Therefore, we as the Clothing Loop organization have deactivated this Loop.</p>

<p>If you want to continue with the Clothing Loop, you can either try to join another Loop in your area as a participant via our website, <a href="https://www.clothingloop.org/">www.clothingloop.org</a>. أو يمكنك ، إذا كنت مهتما ، إعادة تشغيل الحلقة {{ .ChainName }} كمضيف بنفسك! يمكننا أن نساعدك على البدء كمضيف مع مجموعة أدوات، وتطبيق، وبعض المواد الترويجية. إذا كنت مهتما بكونك مضيفا، قم بالرد على هذا البريد الإلكتروني، مشيرا إلى أنك ترغب في أن تصبح مضيفا للحلقة {{ .ChainName }}، وسوف نتصل بك بالمزيد من المعلومات حول كيفية المضي قدما.</p>
