<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} لم يعد جزءا من الحلقة الخاصة بك {{ .ChainName }}. The participant stopped being part of your Loop.<br/>
لن تجد معلومات المشارك في صفحة المشرف</a><a href="https://www.clothingloop.org/admin/dashboard">الخاص بك.</p>

<p>If you need to reach out one more time, you can contact {{ .ParticipantName }} at {{ .ParticipantEmail }}.</p>

<p>إذا كنت قد حفظت معلومات {{ .ParticipantName }}في مكان آخر، يرجى حذف المعلومات الخاصة بهم. شكراً!</p>