<p>Hi {{ .Name }},</p>

<p>You’ve signed up to join {{ .ChainName }} Loop!</p>

<p>تم إخطار مضيف الحلقة . ويضيف معظم المضيفين مشاركين جدد مرة كل أسبوعين إلى 4 أسابيع. They will reach out to you soon, with more information on how to proceed: where you will fit into the route & how to communicate with your fellow swappers.</p>

<p>تبديل سعيد!</p>