<p><i>تذكير!</i></p>

<p>Hi {{ .Name }},</p>

<p>You’re the host of the {{ .ChainName }} Loop. However, at the moment it seems like the Loop has been inactive:<br/>
هناك مشاركون معلقون بانتظار الموافقة عليهم لأكثر من خمسة أشهر، ولم تقم بتسجيل الدخول على <a href="https://www.clothingloop.org/">www.

<p>لتجنب خيبة الأمل للمشاركين المحتملين نريد إزالة الحلقات غير النشطة من موقعنا الإلكتروني.<br/>
نرسل لك هنا رسالة بالبريد الإلكتروني لإعلامك إذا لم يكن هناك أي إجراء على حسابك في الأسبوع القادم. يمكنك تجنب ذلك عن طريق تسجيل الدخول إلى موقعنا الشبكي والموافقة على المشاركين الجدد أو رفضهم.</p>