<p>Hi {{ .Name }},</p>

<p>You’re the host of the {{ .ChainName }} Loop. However, at the moment it seems your Loop is inactive:<br/>
هناك مشاركون معلقون بانتظار الموافقة عليهم لمدة تصل إلى خمسة أشهر، ولم تقم بتسجيل الدخول على <a href="https://www.clothingloop.org/">www. lothingloop.org</a> في الأشهر الخمسة الأخيرة.</p>

<p>لتجنب خيبة الأمل للمشاركين المحتملين نريد إزالة الحلقات غير النشطة من موقعنا الإلكتروني.<br/>
نرسل لك هنا رسالة لإبلاغك بأنه إذا لم يكن هناك إجراء على حسابك في الشهر القادم، سوف نقوم بحذف الحلقة الخاصة بك من موقعنا <a href="https://www.clothingloop.org/loops/{{ .ChainUID }}/users/signup"></a>. يمكنك تجنب ذلك عن طريق تسجيل الدخول إلى موقعنا الشبكي والموافقة على المشاركين الجدد أو رفضهم.</p>