/* Test mobile navigation bar */
ion-tab-bar {
  padding-bottom: 15px;
}
.ion-ce.plt-desktop:not(.plt-hybrid) ion-tab-bar::before {
  display: block;
  background-color: var(--ion-text-color);
  width: 100px;
  height: 3px;
  content: " ";
  position: absolute;
  bottom: 6px;
}
