.sc-ion-label-ios-s > h3 {
  font-size: 16px;
}
.sc-ion-label-ios-s > p {
  color: var(--ion-text-color-rgb);
}

.ion-ce:not(.plt-hybrid) body #root > .ion-page {
  display: flex;
  background-color: var(--ion-color-light);
  justify-content: center;
  align-items: center;
}
.ion-ce:not(.plt-hybrid) body #root > .ion-page > .ion-page {
  position: relative;
  width: 375px;
  height: 812px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .ion-ce:not(.plt-hybrid) body #root > .ion-page {
    background-color: var(--ion-color-light);
  }
  .ion-ce:not(.plt-hybrid) body #root > .ion-page > .ion-page {
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.13);
  }
}

.ion-icon[slot="end"] {
  margin-inline-start: 0.5em;
}

.ion-icon[slot="start"] {
  margin-inline-end: 0.5em;
}
