/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-item-background: transparent;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #038ccc;
    --ion-color-secondary-rgb: 3, 140, 204;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #006593;
    --ion-color-secondary-tint: #009ae2;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: transparent;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }
}

/**
 * Theme
 */
body[data-theme="leafGreen"] {
  --ion-color-primary: #86a051;
  --ion-color-primary-rgb: 134, 160, 81;
  --ion-color-primary-shade: #688332;
  --ion-color-primary-tint: #95b15e;
  --ion-color-light: #f5f7ef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #9dbc5f;
    --ion-color-primary-rgb: 157, 188, 95;
    --ion-color-light: #292e1e;
  }
}
body[data-theme="green"] {
  --ion-color-primary: #66926e;
  --ion-color-primary-rgb: 102, 146, 110;
  --ion-color-primary-shade: #4e7154;
  --ion-color-primary-tint: #70a87a;
  --ion-color-light: #f1f7ef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #61ba71;
    --ion-color-primary-rgb: 157, 188, 95;
    --ion-color-light: #1e2e1e;
  }
}
body[data-theme="teal"] {
  --ion-color-primary: #48808b;
  --ion-color-primary-rgb: 72, 128, 139;
  --ion-color-primary-shade: #386670;
  --ion-color-primary-tint: #57a8b8;
  --ion-color-light: #eff7f7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #48808b;
    --ion-color-primary-rgb: 72, 128, 139;
    --ion-color-light: #1e2d2e;
  }
}
body[data-theme="yellow"] {
  --ion-color-primary: #e0a63b;
  --ion-color-primary-rgb: 224, 166, 59;
  --ion-color-primary-shade: #c89331;
  --ion-color-primary-tint: #fec760;
  --ion-color-light: #f7f6ef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #f4b63f;
    --ion-color-primary-rgb: 244, 182, 63;
    --ion-color-light: #2e2b1e;
  }
}
body[data-theme="orange"] {
  --ion-color-primary: #e8913a;
  --ion-color-primary-rgb: 232, 145, 58;
  --ion-color-primary-shade: #c97e32;
  --ion-color-primary-tint: #fdab58;
  --ion-color-light: #f7f4ef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #ef953d;
    --ion-color-primary-rgb: 239, 149, 61;
    --ion-color-light: #2e281e;
  }
}
body[data-theme="red"] {
  --ion-color-primary: #dd3d45;
  --ion-color-primary-rgb: 221, 61, 69;
  --ion-color-primary-shade: #9c3146;
  --ion-color-primary-tint: #e33e5f;
  --ion-color-light: #f7efef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #d34965;
    --ion-color-primary-rgb: 211, 73, 101;
    --ion-color-light: #2e1e20;
  }
}
body[data-theme="pinkLight"] {
  --ion-color-primary: #cb94ac;
  --ion-color-primary-rgb: 203, 148, 172;
  --ion-color-primary-shade: #ba869c;
  --ion-color-primary-tint: #e7bfd1;
  --ion-color-light: #f7efef;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #e6a5c1;
    --ion-color-primary-rgb: 230, 165, 193;
    --ion-color-light: #2e1e28;
  }
}
body[data-theme="pink"] {
  --ion-color-primary: #dc77a3;
  --ion-color-primary-rgb: 203, 148, 172;
  --ion-color-primary-shade: #bb658a;
  --ion-color-primary-tint: #eea1c2;
  --ion-color-light: #f7eff2;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #dc77a3;
    --ion-color-primary-rgb: 220, 119, 163;
    --ion-color-light: #2e1e27;
  }
}
body[data-theme="pink"] {
  --ion-color-primary: #dc77a3;
  --ion-color-primary-rgb: 203, 148, 172;
  --ion-color-primary-shade: #bb658a;
  --ion-color-primary-tint: #eea1c2;
  --ion-color-light: #f7eff2;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #dc77a3;
    --ion-color-primary-rgb: 220, 119, 163;
    --ion-color-light: #2e1e27;
  }
}
body[data-theme="lilac"] {
  --ion-color-primary: #b76dac;
  --ion-color-primary-rgb: 183, 109, 172;
  --ion-color-primary-shade: #99588f;
  --ion-color-primary-tint: #cb79bf;
  --ion-color-light: #f6eff7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #dc7cce;
    --ion-color-primary-rgb: 220, 124, 206;
    --ion-color-light: #2e1e2e;
  }
}
body[data-theme="purple"] {
  --ion-color-primary: #9a69ed;
  --ion-color-primary-rgb: 154, 105, 237;
  --ion-color-primary-shade: #513484;
  --ion-color-primary-tint: #b085fb;
  --ion-color-light: #f4eff7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #9a69ed;
    --ion-color-primary-rgb: 154, 105, 237;
    --ion-color-light: #261e2e;
  }
}
body[data-theme="skyBlue"] {
  --ion-color-primary: #43c6e0;
  --ion-color-primary-rgb: 67, 198, 224;
  --ion-color-primary-shade: #35a1b7;
  --ion-color-primary-tint: #61e0fa;
  --ion-color-light: #eff5f7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #7ecfe0;
    --ion-color-primary-rgb: 126, 207, 224;
    --ion-color-light: #1e2b2e;
  }
}
body[data-theme="blueLight"] {
  --ion-color-primary: #3f94e4;
  --ion-color-primary-rgb: 63, 148, 228;
  --ion-color-primary-shade: #3076b6;
  --ion-color-primary-tint: #5eaffc;
  --ion-color-light: #eff3f7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #3f94e4;
    --ion-color-primary-rgb: 63, 148, 228;
    --ion-color-light: #1e232e;
  }
}
body[data-theme="blue"] {
  --ion-color-primary: #1454b3;
  --ion-color-primary-rgb: 20, 103, 179;
  --ion-color-primary-shade: #104595;
  --ion-color-primary-tint: #1b63cf;
  --ion-color-light: #eff1f7;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: #1467b3;
    --ion-color-primary-rgb: 20, 103, 179;
    --ion-color-light: #1e1f2e;
  }
}
body[data-theme="rainbow"] {
  --ion-tab-bar-background: linear-gradient(
      0deg,
      rgba(230, 30, 0, 0.2) 0%,
      rgba(230, 30, 0, 0.2) 16.6%,
      rgba(255, 142, 0, 0.2) 16.6%,
      rgba(255, 142, 0, 0.2) 33.3%,
      rgba(212, 198, 0, 0.2) 33.3%,
      rgba(212, 198, 0, 0.2) 50%,
      rgba(20, 201, 59, 0.2) 50%,
      rgba(20, 201, 59, 0.2) 66.6%,
      rgba(45, 108, 255, 0.2) 66.6%,
      rgba(45, 108, 255, 0.2) 83.3%,
      rgba(199, 60, 221, 0.2) 83.3%
    )
    #fff;

  .button.ion-color-primary {
    --ion-color-base: linear-gradient(
        90deg,
        hsl(8, 100%, 35%) 0%,
        hsl(8, 100%, 35%) 16.6%,
        hsl(33, 100%, 40%) 16.6%,
        hsl(33, 100%, 40%) 33.3%,
        hsl(56, 100%, 32%) 33.3%,
        hsl(56, 100%, 32%) 50%,
        hsl(133, 82%, 33%) 50%,
        hsl(133, 82%, 33%) 66.6%,
        hsl(222, 100%, 49%) 66.6%,
        hsl(222, 100%, 49%) 83.3%,
        hsl(292, 70%, 45%) 83.3%
      )
      #fff !important;
  }

  --ion-color-primary: hsl(259, 37%, 51%);
  --ion-tab-bar-color: hsl(215, 30%, 52%);
  --ion-color-primary-rgb: 203, 148, 172;
  --ion-color-primary-shade: #bb658a;
  --ion-color-primary-tint: #eea1c2;
  --ion-color-light: #f7eff2;
  @media (prefers-color-scheme: dark) {
    --ion-color-primary: hsl(334, 100%, 78%);
    --ion-color-primary-rgb: 220, 119, 163;
    --ion-color-light: #2e1e27;
    --ion-tab-bar-color: hsl(190, 61%, 50%);
    --ion-tab-bar-background: linear-gradient(
        0deg,
        hsla(8, 80%, 45%, 0.4) 0%,
        hsla(8, 80%, 45%, 0.4) 16.6%,
        hsla(33, 80%, 50%, 0.4) 16.6%,
        hsla(33, 80%, 50%, 0.4) 33.3%,
        hsla(56, 80%, 42%, 0.4) 33.3%,
        hsla(56, 80%, 42%, 0.4) 50%,
        hsla(133, 62%, 43%, 0.4) 50%,
        hsla(133, 62%, 43%, 0.4) 66.6%,
        hsla(222, 80%, 59%, 0.4) 66.6%,
        hsla(222, 80%, 59%, 0.4) 83.3%,
        hsla(292, 50%, 55%, 0.4) 83.3%
      )
      #000;
  }
}
