/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-invert-1 {
    filter: invert(1);
  }

  .tw-bg-rainbow-btn {
    background: linear-gradient(
      45deg,
      hsl(8, 100%, 45%) 0%,
      hsl(8, 100%, 45%) 27.3%,
      hsl(33, 100%, 50%) 27.3%,
      hsl(33, 100%, 50%) 38.6%,
      hsl(56, 100%, 42%) 38.6%,
      hsl(56, 100%, 42%) 50%,
      hsl(133, 82%, 43%) 50%,
      hsl(133, 82%, 43%) 61.3%,
      hsl(222, 100%, 59%) 61.3%,
      hsl(222, 100%, 59%) 72.6%,
      hsl(292, 70%, 55%) 72.6%
    );
  }
  .ion-button {
    /* add css from tailwind classes to another class */
    @apply .tw-text-center .tw-mb-4;

    /* See custom properties in the ionic docs
    https://ionicframework.com/docs/api/button#css-custom-properties */
    background: #93e9be;
    background-hover: #9ce0be;
    background-focused: #88f4be;

    color: blue;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tw-text-stroke-secondary {
    color: transparent;
    -webkit-text-stroke: 1.5px hsla(var(--s));
    -moz-text-stroke: 1.5px hsla(var(--s));
  }
  .tw-text-stroke-accent {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #448c7f;
  }
  .tw-bg-orange {
    background: #e8c593
  }
  .bg-orange-light{
    --ion-background-color: #f4e7d0
  }

  .tw-text-orange {
    color: #d97706
  }

  .tw-text-blue {
    color: #3a66b3
  }

  .tw-bg-blue-light {
    background: #d6e4f2
  }
  .bg-blue {
    --ion-background-color: #d6e4f2
  }

  .tw-text-red {
    color: #c73642
  }


}
