/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-invert-1 {
    filter: invert(1);
  }

  .tw-bg-rainbow-btn {
    background: linear-gradient(
      45deg,
      hsl(8, 100%, 45%) 0%,
      hsl(8, 100%, 45%) 27.3%,
      hsl(33, 100%, 50%) 27.3%,
      hsl(33, 100%, 50%) 38.6%,
      hsl(56, 100%, 42%) 38.6%,
      hsl(56, 100%, 42%) 50%,
      hsl(133, 82%, 43%) 50%,
      hsl(133, 82%, 43%) 61.3%,
      hsl(222, 100%, 59%) 61.3%,
      hsl(222, 100%, 59%) 72.6%,
      hsl(292, 70%, 55%) 72.6%
    );
  }
  .tw-text-stroke-secondary {
    color: transparent;
    -webkit-text-stroke: 1.5px hsla(var(--s));
    -moz-text-stroke: 1.5px hsla(var(--s));
  }
  .tw-text-stroke-accent {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #448c7f;
  }
  .tw-bg-white-transparent {
    background: rgba(255, 255, 255, 0.5);
  }
  .tw-bg-transparent {
    --ion-background-color: transparent;
  }
  .tw-bg-orange-contrast {
    --ion-background-color: var(--ion-color-orange-contrast);
  }
  .tw-bg-blue {
    --ion-background-color: var(--ion-color-blue);
  }
  .tw-bg-blue-contrast {
    --ion-background-color: var(--ion-color-blue-contrast);
  }
  .tw-text-purple {
    --color: var(--ion-color-purple);
  }
  .tw-text-red {
    --color: var(--ion-color-red);
  }
  .tw-bg-red {
    --ion-background-color: var(--ion-color-red);
  }
  .tw-text-blue {
    --color: var(--ion-color-blue);
  }
  .tw-text-blue-tint {
    --color: var(--ion-color-blue-tint);
  }
  .tw-bg-purple-contrast {
    --ion-background-color: var(--ion-color-purple-contrast);
  }
  .tw-bg-paused {
    background: rgb(255, 213, 52);
    background: repeating-linear-gradient(
      60deg,
      transparent,
      transparent 20px,
      rgba(255, 213, 52, 1) 20px,
      rgba(255, 213, 52, 1) 40px
    );
  }
}
