<p>Hej, {{ .Name }}</p>

<p>Någon är intresserad av att gå med i din loop!</p>

<p>Nedan hittar du deltagarens kontaktinformation:</p>

<ul>
	<li>Namn: {{ .Participant.Name }}</li>
	<li>E-post: {{ .Participant.Email }}</li>
	<li>Telefon: {{ .Participant.Phone }}</li>
	<li>Adress: {{ .Participant.Address }}</li>
</ul>

<p>Hälsning,</p>

<p>Nichon, på uppdrag av Clothing Loop-teamet</p>