<p>Hi {{ .Name }},</p>

<p>A host has approved your request to join the Loop {{ .ChainName }}</p>

<p>Soon they will reach out with more information on how to proceed: where you will fit into the route & how to communicate with your fellow swappers.</p>

<p>Happy swapping!</p>