<p>Hej {{ .Name }},</p>

<p>Tack för ditt meddelande!</p>

<p>Du skrev:<br/>
{{ .Message }}</p>

<p>Vi kontaktar dig så snart som möjligt.</p>

<p>Hälsningar,</p>

<p>Nichon, på uppdrag av Clothing Loop-teamet</p>