<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} {{with .ParticipantEmail}}{{.}} {{end}} är inte längre en del av din loop {{ .ChainName }}. The participant stopped being part of your Loop.<br/>
You will no longer find the participant's information in your <a href="https://www.clothingloop.org/admin/dashboard">admin page</a>.</p>

<p>If you have saved {{ .ParticipantName }}’s information somewhere else, please delete their information. Thank you!</p>