<p>Allô {{ .Name }},</p>

<p>Quelqu'un est intéressé à rejoindre votre Loop !</p>

<p>Veuillez trouver les coordonnées du participant ci-dessous :</p>

<ul>
	<li>Nom : {{ .Participant.Name }}</li>
	<li>Courriel : {{ .Participant.Email }}</li>
	<li>Téléphone : {{ .Participant.Phone }}</li>
	<li>Adresse : {{ .Participant.Address }}</li>
</ul>

<p>Salutations,</p>

<p>Nichon, de la part de l'équipe de The Clothing Loop</p>