<p>Allô {{ .Name }},</p>

<p>Merci pour votre message !</p>

<p>Vous avez écrit :<br/>
{{ .Message }}</p>

<p>Nous vous contacterons dès que possible.</p>

<p>Salutations,</p>

<p>Nichon, de la part de l'équipe de The Clothing Loop</p>