<p>Allô {{ .Name }},</p>

<p>Cliquez <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">ici</a>pour vous connecter à votre compte de The Clothing Loop.
Ce lien n'est valide qu'une seule fois.</p>

<p>App password: <code>{{ .Token}}</code></p>

<p>Salutations,</p>

<p>L'équipe de The Clothing Loop !</p>