<p>Bonjour {{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that they want to join the {{ .ChainName }} Loop.</p>

<p>Veuillez les contacter, s'il vous plaît. Vous trouverez leurs coordonnées sous "Compte" sur notre <a href="https://www.clothingloop.org/admin/dashboard">site web</a>.</p>
