<p>Bonjour {{ .Name }},</p>

<p>{{ .ParticipantName }} aimerait rejoindre votre Loop {{ .ChainName }} .</p>

<p>Veuillez les contacter, s'il vous plaît. Vous trouverez leurs coordonnées sous "Compte" sur notre <a href="https://www.clothingloop.org/admin/dashboard">site web</a>.</p>

<p>Nichon, de la part de l'équipe de The Clothing Loop</p>