<p>Bonjour {{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that she, he or they wants to join the Loop {{ .ChainName }}.</p>

<p>We would like you to ask to please contact this participant. Vous trouverez leurs coordonnées sous "Compte" sur notre <a href="https://www.clothingloop.org/admin/dashboard">site web</a>.</p>