<p>Allô {{ .Name }},</p>

<p>Cliquez<a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">ici</a>pour vérifier votre courriel et activer votre compte de The Clothing Loop.<br>
Ce lien n'est valide qu'une seule fois.</p>

<p>Salutations,</p>

<p>L'équipe de The Clothing Loop !</p>