html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
}

/* base settings */
a {
  text-decoration: none;
}

.success {
  color: #067f8c;
}

.MuiTypography-h4 {
  font-size: 1.5rem !important;
  font-weight: 700;
  text-transform: uppercase;
}

/* navBar styling */
.nav-container {
  margin: auto;
}

/* map styling */
.map-container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.nav-container {
  margin: auto;
}

thead th {
  font-weight: bold !important;
}

.chain-member-list {
  margin: auto;
  width: 1000px;
}

img#marker {
  width: 40px;
  height: 40px;
}

.new-chain-popup {
  position: relative !important;
  transform: none !important;
  float: right;
  margin: 2%;
}
.mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  padding: 0 !important;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.mapboxgl-popup {
  position: absolute !important;
  bottom: 15%;
  transform: translateX(-50%) !important;
  left: 50% !important;
}

.filter-wrapper {
  background-color: white;
  position: relative;
  width: max-content;
}

/* card styling */
.MuiCard-root {
  padding: 5%;
}

.chain-address {
  padding-bottom: 10%;
}

.card-button {
  position: relative;
  margin: 15px 15px 15px 15px;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%;
}

.MuiCardActions-root {
  flex-direction: column;
}

.mapboxgl-popup-close-button {
  z-index: 11;
}

/*new chain card styling*/
button.chain-description {
  margin: 5% 0;
}

/* geocoder styling */
.react-geocoder > input {
  width: 100%;
  height: 20px;
}

.MuiGrid-item {
  padding: 2%;
}

.address-details {
  padding: 20% 2%;
}

/*table styling*/
th {
  text-transform: uppercase;
  font-size: 1rem !important;
}

table {
  width: 90% !important;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
