@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-yellow-darkest {
    color: transparent;
    -webkit-text-stroke: 1.5px #c58c41;
    -moz-text-stroke: 1.5px #c58c41;
  }
  .text-stroke-secondary {
    color: transparent;
    -webkit-text-stroke: 1.5px hsla(var(--s));
    -moz-text-stroke: 1.5px hsla(var(--s));
  }
  .text-stroke-accent {
    color: transparent;
    -webkit-text-stroke: 1.5px hsla(var(--a));
    -moz-text-stroke: 1.5px hsla(var(--a));
  }
  .text-stroke-base-100 {
    color: transparent;
    -webkit-text-stroke: 1.5px hsla(var(--b1));
    -moz-text-stroke: 1.5px hsla(var(--b1));
  }

  .bg-instagram {
    background: rgb(224, 13, 171);
    background: -webkit-radial-gradient(
        32% 106%,
        circle cover,
        rgb(255, 225, 125) 0%,
        rgb(255, 205, 105) 10%,
        rgb(250, 145, 55) 28%,
        rgb(235, 65, 65) 42%,
        transparent 82%
      ),
      -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190)
            58%);
    background: -moz-radial-gradient(
        32% 106%,
        circle cover,
        rgb(255, 225, 125) 0%,
        rgb(255, 205, 105) 10%,
        rgb(250, 145, 55) 28%,
        rgb(235, 65, 65) 42%,
        transparent 82%
      ),
      -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(
        32% 106%,
        circle cover,
        rgb(255, 225, 125) 0%,
        rgb(255, 205, 105) 10%,
        rgb(250, 145, 55) 28%,
        rgb(235, 65, 65) 42%,
        transparent 82%
      ),
      -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(
        32% 106%,
        circle cover,
        rgb(255, 225, 125) 0%,
        rgb(255, 205, 105) 10%,
        rgb(250, 145, 55) 28%,
        rgb(235, 65, 65) 42%,
        transparent 82%
      ),
      -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(
        circle farthest-corner at 32% 106%,
        rgb(255, 225, 125) 0%,
        rgb(255, 205, 105) 10%,
        rgb(250, 145, 55) 28%,
        rgb(235, 65, 65) 42%,
        transparent 82%
      ),
      linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  }

  .bg-facebook {
    background: #1b74e4;
    background: radial-gradient(
      ellipse at 80% 20%,
      #5fb9f4 0%,
      #236ee0 90%,
      #2165cd 100%
    );
  }

  input.input-reset[type="number"]::-webkit-outer-spin-button,
  input.input-reset[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input.input-reset[type="number"] {
    -moz-appearance: textfield;
  }
}

:root {
  --rounded-btn: 0;
  --btn-text-case: default;
}

.prose {
  @apply prose-headings:font-serif prose-headings:text-secondary prose-headings:font-bold prose-a:link max-w-screen-md prose-p:my-3;
}

.table th:first-child {
  @apply static;
}

#root .mapboxgl-ctrl-geocoder {
  @apply w-full max-w-none;
}
#root .mapboxgl-ctrl-geocoder--input {
  @apply h-12 px-10 border border-solid border-secondary input input-secondary w-full;
}
#root .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  @apply top-3.5 ltr:left-3 rtl:right-3;
}
#root .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  @apply top-3.5 ltr:right-3 rtl:left-3 rtl:right-auto;
}

#root .mapboxgl-popup-content {
  @apply p-0 rounded-lg shadow-lg;
}
.mapboxgl-ctrl-bottom-left {
  @apply rtl:left-auto rtl:right-0;
}
.mapboxgl-ctrl-bottom-right {
  @apply rtl:right-auto rtl:left-0;
}
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  @apply rtl:float-right rtl:ml-0 rtl:mr-2.5;
}

.btn-primary.btn-outline {
  @apply text-black border-yellow-darker;
}

summary.marker\:content-none::-webkit-details-marker {
  display: none;
}

[dir="rtl"] .steps .step::before {
  margin-left: 100%;
}

[dir="rtl"] .tooltip-left::before {
  right: auto;
  left: var(--tooltip-offset);
}
[dir="rtl"] .tooltip-left::after {
  border-color: transparent var(--tooltip-color) transparent transparent;
  left: calc(var(--tooltip-tail-offset) + 1px);
  right: auto;
}

[dir="rtl"] .tooltip-right::before {
  left: auto;
  right: var(--tooltip-offset);
}
[dir="rtl"] .tooltip-right::after {
  border-color: transparent var(--tooltip-color) transparent transparent;
  left: calc(var(--tooltip-tail-offset) + 1px);
  right: auto;
}

/* CSS for other than iOS devices */
@supports not (-webkit-touch-callout: none) {
  /* android scrolls too fast when scroll-snap-type */
  .carousel {
    @apply max-sm:snap-none;
  }
}

.table th,
.table td {
  @apply max-xs:p-2 max-xs:text-sm rounded-none;
}

[dir="rtl"] .select {
  padding-right: 1rem;
  padding-left: 2.5rem;
}

.dropdown-end .dropdown-content {
  right: unset;
}

/* Tiny MCE */

html[dir="rtl"] .tox .tox-toolbar__group,
html[dir="rtl"] .tox .tox-toolbar__primary {
  flex-direction: row-reverse;
}
.tox .tox-statusbar {
  display: none !important;
}

.tox.tox-tinymce {
  @apply !border-secondary border !rounded-none;
}

.tox .tox-dialog,
.tox .tox-button,
.tox .tox-textfield,
.tox .tox-listboxfield .tox-listbox--select,
.tox .tox-collection--list .tox-collection__item {
  @apply !rounded-none;
}

.tox .tox-menu.tox-collection.tox-collection--list {
  @apply !px-0 border-x-0 !rounded-none;
}
