:8066 {
	@options method OPTIONS
	@originacc header Origin https://app.acc.clothingloop.org
	@originprod header Origin https://app.acc.clothingloop.org

	header {
		>Access-Control-Allow-Methods POST, GET, OPTIONS, PUT, PATCH, DELETE
		>Access-Control-Allow-Credentials true
		>Access-Control-Allow-Headers Host,User-Agent,Accept,Accept-Language,Accept-Encoding,Access-Control-Request-Method,Access-Control-Request-Headers,Referer,Origin,DNT,Sec-GPC,Connection,Sec-Fetch-Dest,Sec-Fetch-Mode,Sec-Fetch-Site,Priority,Token
		>Access-Control-Expose-Headers Host,User-Agent,Accept,Accept-Language,Accept-Encoding,Access-Control-Request-Method,Access-Control-Request-Headers,Referer,Origin,DNT,Sec-GPC,Connection,Sec-Fetch-Dest,Sec-Fetch-Mode,Sec-Fetch-Site,Priority,Token
	}
	header @originacc {
		>Access-Control-Allow-Origin https://app.acc.clothingloop.org
	}
	header @originprod {
		>Access-Control-Allow-Origin https://app.clothingloop.org
	}

	respond @options 204

	reverse_proxy http://mattermost:8065 {
		stream_timeout 24h
		stream_close_delay 5m
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
