:8066 {
	@originacc header Origin https://app.acc.clothingloop.org
	@originprod header Origin https://app.acc.clothingloop.org

	header @originacc {
		>Access-Control-Allow-Origin https://app.acc.clothingloop.org
		>Access-Control-Allow-Credentials true
	}
	header @originprod {
		>Access-Control-Allow-Origin https://app.clothingloop.org
		>Access-Control-Allow-Credentials true
	}

	reverse_proxy http://mattermost:8065
}
