clothingloop.org {
	redir https://www.clothingloop.org{uri}
}

www.clothingloop.org {
	log {
		output file /var/log/caddy/api.clothingloop.org-error.log
		format console
		level ERROR
	}

	handle_path /api/* {
		reverse_proxy 127.0.0.1:8081
	}

	handle {
		root * /var/caddy/clothingloop.org
		file_server
		encode zstd gzip
		try_files {path} /index.html
	}
}

vpsnode1.vps.webdock.cloud {
	respond "Hello, world!"
}

admin.clothingloop.org {
	log {
		output file /var/log/caddy/phpmyadmin-error.log
		format console
		level ERROR
	}
	php_fastcgi unix//run/php/php-fpm.sock
	root * /usr/share/phpmyadmin
	file_server
	try_files {path} /index.php
}

acc.clothingloop.org {
	log {
		output file /var/log/caddy/acc.clothingloop.org-error.log
		format console
		level ERROR
	}

	header Access-Control-Allow-Origin *
	route {
		header Cache-Control max-age=3600
		header /assets/* Cache-Control max-age=31536000
	}

	root * /var/caddy/acc.clothingloop.org
	file_server
	encode zstd gzip
	try_files {path} /index.html
}

acc.api.clothingloop.org {
	log {
		output file /var/log/caddy/acc.clothingloop.org-error.log
		format console
		level ERROR
	}

	header Cache-Control no-cache

	reverse_proxy 127.0.0.1:8082
}
