[Unit]
Description={{ service_desc }}
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ service_user }}
ExecStart={{ service_exec }}

[Install]
WantedBy=multi-user.target