html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(245, 245, 245);
  margin:0;
}

.container{
  max-width: 1200px;
  box-sizing: border-box;
}

.nav-container{
  margin: auto;
}

a{
  text-decoration: none;
}