html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
}

.map-container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.nav-container {
  margin: auto;
}

thead th {
  font-weight: bold !important;
}

.chain-member-list {
  margin: auto;
  width: 1000px;
}

img#marker {
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
}

p {
  color: red;
  font-size: 0.8rem;
}

.react-geocoder > input {
  width: 80%;
  height: 20px;
}

.MuiGrid-item{
  padding:2%;
}

.address-details {
  padding: 20% 2%;
}
