html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
}

/* base settings */
a {
  text-decoration: none;
}

.MuiTypography-h4 {
  font-size: 1.5rem !important;
  font-weight: 700;
  text-transform: uppercase;
}

/* navBar styling */
.nav-container {
  margin: auto;
}

/* map styling */
.map-container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.nav-container {
  margin: auto;
}

thead th {
  font-weight: bold !important;
}

.chain-member-list {
  margin: auto;
  width: 1000px;
}

img#marker {
  width: 40px;
  height: 40px;
}

.mapboxgl-popup-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 0;
}

.mapboxgl-popup-tip {
  z-index: 1111;
}

/* card styling */
.MuiCard-root {
  padding: 5%;
}

.chain-address {
  padding-bottom: 10%;
}

.MuiButton-containedPrimary {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.MuiCardActions-root {
  flex-direction: column;
}

.mapboxgl-popup-close-button {
  z-index: 11;
}

/*new chain card styling*/
button.chain-description {
  margin: 5% 0;
}

/* geocoder styling */
.react-geocoder > input {
  width: 80%;
  height: 20px;
}

.MuiGrid-item {
  padding: 2%;
}

.address-details {
  padding: 20% 2%;
}
