<p>Hi {{ .Name }},</p>

<p>You’re the host of the {{ .ChainName }} Loop. However, at the moment it seems your Loop is inactive:<br/>
There are pending participants waiting to be approved for up to five months, and you have not logged in on <a href="https://www.clothingloop.org/">www.clothingloop.org</a> in the last 5 months.</p>

<p>To avoid disappointment for prospective participants we want to remove inactive Loops from our website.<br/>
We hereby email you to let you know that if there is no action on your Account in the upcoming month, we will delete your Loop from our <a href="https://www.clothingloop.org/loops/{{ .ChainUID }}/users/signup">website</a>. You can avoid this by logging in on our website and Approve or Deny the new participants.</p>