<p>Hi {{ .Name }},</p>

<p>You’re part of the {{ .ChainName }} Loop. However, at the moment it seems like the Loop has been inactive for a while.
As there are people on the waiting list, we are looking for somebody who wants to be the new host for this Loop! Meaning: creating the route, and informing people on how to proceed. We wrote a simple <a>manual</a> to help you every step of the way!</p>

<p>If you would like to restart this Loop, please forward this email to hello@clothingloop.org.<br/>
If we do not hear back from anybody, we will delete this Loop from our website next month to avoid disappointment.</p>
