<p>Hi {{ .Name }},</p>

<p>Click <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">here</a> to verify your e-mail and activate your Clothing Loop account.<br>
This link is only valid once.</p>
