name: Deploy Acceptance Server
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - server/**

jobs:
  deploy-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
          check-latest: true
          cache: true
          cache-dependency-path: server/go.sum
      - name: Build binary
        run: make build-server
        working-directory: ./server
      - name: Install SSH key
        uses: benoitchantre/setup-ssh-authentication-action@1.0.1
        with:
          private-key: ${{ secrets.VPS2_PRIVKEY }}
          private-key-name: id_ed25519
          known-hosts: ${{ secrets.VPS2_KNOWNHOSTS }}
      - name: Send binary to vps and restart service
        run: |
          rsync -az --delete ./server/server admin@vps2.vps.webdock.cloud:/home/admin/acc.api.clothingloop.org/server.next
          ssh admin@vps2.vps.webdock.cloud "cd /home/admin; task publish:github:api:acc"
          echo "done"
