name: Lint
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json
      - name: Install Dependencies Frontend
        run: npm ci
        working-directory: ./frontend
      - name: Run TypeScript test
        run: npx tsc
        working-directory: ./frontend
      - name: Run Prettier
        run: npm run lint:test
        working-directory: ./frontend
  lint-golang:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"
          check-latest: true
          cache: true
          cache-dependency-path: server/go.sum
      - name: Install Dependencies Backend
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Run Go Format
        run: make lint-test
        working-directory: ./server
