<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} möchte sich deinem {{ .ChainName }} Loop anschließen.</p>

<p>Wir möchten Sie bitten, sich mit ihnen in Verbindung zu setze. Deren Informationen finden Sie unter "Konto" auf unserer <a href="https://www.clothingloop.org/admin/dashboard">Website</a>.</p>

<p>Nichon, im Namen des Clothing Loop Teams</p>