<p>Hi {{ .Name }},</p>

<p>{{ .ParticipantName }} wants to remind you that they want to join the {{ .ChainName }} Loop.</p>

<p>Wir möchten Sie bitten, sich mit {{ .ParticipantName }} in Verbindung zu setzen. Deren Informationen finden Sie unter "Konto" auf unserer <a href="https://www.clothingloop.org/admin/dashboard">Website</a>.</p>
