<p>Hi {{ .Name }},</p>

<p>Klicke <a href="{{ .BaseURL }}/users/login/validate?apiKey={{ .Token }}">hier</a> um Dich in Deinem Clothing Loop Account einzuloggen.<br>
Dieser Link ist nur einmal gültig.</p>
