<p>Hi, {{ .Name }}</p>

<p>Someone is interested in joining {{ .ChainName }}!</p>

<p>Hier findest Du die Kontaktinformationen des Teilnehmers:</p>

<ul>
	<li>Name: {{ .Participant.Name }}</li>
	<li>Email: {{ .Participant.Email }}</li>
	<li>Telefon: {{ .Participant.Phone }}</li>
	<li>Adresse: {{ .Participant.Address }}</li>
</ul>

<p>Grüße,</p>

<p>Nichon, im Namen des Clothing Loop Teams</p>