<p>Hi, {{ .Name }}</p>

<p>Jemand ist daran interessiert, Deinem Loop  {{ .ChainName }} beizutreten!</p>

<p>Hier findest Du die Kontaktinformationen des Teilnehmers:</p>

<ul>
	<li>Name: {{ .Participant.Name }}</li>
	<li>Email: {{ .Participant.Email }}</li>
	<li>Telefon: {{ .Participant.Phone }}</li>
	<li>Adresse: {{ .Participant.Address }}</li>
	<li>Sizes: {{ .Participant.Sizes }}</li>
</ul>
